/*B"H*/


buttona {
    font-size: 26px;
    border-radius:10%;
    box-shadow: 0px 0px 5px black;
    
}
/* Buttons */
button[disabled] {
    color: #000000;
    box-shadow: 0px 10px 20px rgba(78, 65, 48, 0.5) inset;
    background-color: #ffffff;
    cursor:not-allowed;
}

button {
    margin:18px;
display: inline-block;
padding: 20px 40px;
font-size: 2rem;
font-weight: bold;
text-transform: uppercase;
border-radius: 50px;
border: none;
color: #fff;
background-color: #fdab3d;
box-shadow: 0px 10px 20px rgba(253, 171, 61, 0.5);
cursor: pointer;
transition: all 0.3s ease-in-out;
}

button:hover:enabled {
    color: #d3f3ff;
transform: scale(1.1);
box-shadow: 0px 15px 30px rgba(255, 198, 124, 0.8);
}

button:active:enabled {
transform: scale(0.9);
color:black;
box-shadow: 0px 5px 10px rgba(252, 210, 0, 0.8),

    0px 0px 7px rgb(0, 0, 0) inset;
}


p {
line-height: 1.5;
color: #000;
margin-bottom: 2rem;
white-space: pre-wrap;
font-weight: bold;
font-size: 24;
padding: 16px;
text-shadow: 1px 1px 1px white, -1px -1px 1px #FFFFFF;
white-space:pre-wrap;
    padding:16px;
}
/*
h1, h2, h3, h4 {

font-weight: bold;
text-align: center;
text-shadow: 2px 2px #555;
color: #fdab3d;
margin-bottom: 2rem;
}

*/
/* Styles for h1 */

h1 {
font-size: 5em;
font-weight: bold;
text-align: center;
margin: 0;
padding: 0.5em;
color: #222;
background-color: #F9A826;
border: 3px solid #222;
border-radius: 0.5em;
transition: all 0.3s ease-in-out;
}

h1:hover {
color: #ffcece;
background-color: #222;
}

/* Styles for h2 */

h2 {
font-size: 3em;
font-weight: bold;
text-align: left;
margin: 0.5em;
padding: 0.2em;
color: #020101;
border-bottom: 3px dotted #F9A826;
transition: all 0.3s ease-in-out;
}

h2:hover {
color: #ffffff;
border-bottom: 3px dotted #444;
}

/* Styles for h3 */

h3 {
font-size: 2em;
font-weight: bold;
text-align: left;
margin: 0.5em;
padding: 0.2em;
color: #000000;
border-bottom: 2px solid #F9A826;
transition: all 0.3s ease-in-out;
}

h3:hover {
color: #ffd0d0;
border-bottom: 2px solid #666;
}

/* Styles for h4 */
a {
    text-decoration:none;
}
h4 {
font-size: 1.5em;
font-weight: bold;
text-align: left;
margin: 0.5em;
padding: 0.2em;
color: #070505;
}
h4:hover {
color: #ffcece;
border-bottom: 2px solid #666;
}
/* Styles for textarea */

textarea {
font-size: 1.2em;
padding: 0.5em;
border: 2px solid #F9A826;
border-radius: 0.5em;
transition: all 0.3s ease-in-out;
}

textarea:hover {
border-color: #222;
}

/* Styles for input type text */

input[type="text"] {
font-size: 1.2em;
padding: 0.5em;
border: 2px solid #F9A826;
border-radius: 0.5em;
transition: all 0.3s ease-in-out;
}

input[type="text"]:hover {
border-color: #222;
}

/* Styles for input type checkbox */

input[type="checkbox"] {
transform: scale(2);
margin: 2em;

transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:hover {
transform: scale(2.2);
}


body {
    padding:18px;
    background: linear-gradient(-45deg, #ffc9ae 0%, #ff8c6f 20%, #ffd782 40%, #c0d6ff 60%, #A7C1DE 80%, #E2F2FF 100%);

    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    position: relative;
}


body::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.5);
}


@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
    
label {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    font-size:20px;
}

label:before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 2px solid #333;
    border-radius: 4px;
    position: absolute;
    left: -36;
    transition: all 0.3s ease-in-out;
    
    border: 2px solid #fff;
    border-radius: 50%;
}

label:hover:before {
    background-color: rgba(255, 255, 255, 0.2);
}


input[type="checkbox"]:checked + label:before {
    background-color: #F9A826;
    border-color: #000000;
    content: "\2714";
    text-align: center;
    line-height: 1;
    color: #fff;
}
h1, h2, h3, h4, 
textarea, 
input[type="text"], 
input[type="checkbox"],
p,
button,
text,
label {
position: relative;
z-index: 1;
}

h1, h2, h3, h4 {
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

input[type="text"], textarea {
background-color: rgba(255, 255, 255, 0.9);
border: 1px solid #ccc;
padding: 10px;
border-radius: 5px;
color: #333;
}

input[type="checkbox"] {
appearance: none;
}

#works {
    white-space:pre-wrap;
}
